<!DOCTYPE html>
<html lang="en" ng-app="owTracker">
<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:300,600' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="lib/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="static/css/style.css" />

    <script src="lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="lib/node_modules/spin.js/spin.min.js"></script>
    <script src="lib/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/node_modules/es6-shim/es6-shim.min.js"></script>
    <script src="lib/node_modules/zone.js/dist/zone.js"></script>
    <script src="lib/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="lib/node_modules/systemjs/dist/system.src.js"></script>

    <script type="text/javascript" src="app/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script>

    <title>CS:GO Overwatch Tracker</title>
</head>
<body>

<owt-app>
    <div class="app-loading"></div>
</owt-app>

</body>
</html>