<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS:GO Overwatch Tracker</title>
</head>
<body>

<script type="text/javascript" src="lib/js/jquery.js"></script>
<script type="text/javascript" src="lib/js/angular.js"></script>
</body>
</html>