<!DOCTYPE html>
<html lang="en" ng-app="owTracker">
<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="static/css/style.css" />

    <title>CS:GO Overwatch Tracker</title>
</head>
<body>

<div data-ui-view></div>

<script type="text/javascript" src="lib/js/jquery.min.js"></script>
<script type="text/javascript" src="lib/js/angular.min.js"></script>
<script type="text/javascript" src="lib/js/angular-cookies.min.js"></script>
<script type="text/javascript" src="lib/js/angular-ui-router.min.js"></script>

<script type="text/javascript" src="js/src/app.js"></script>
<script type="text/javascript" src="js/src/config/constants.js"></script>
<script type="text/javascript" src="js/src/config/httpConfig.js"></script>
<script type="text/javascript" src="js/src/config/routeConfig.js"></script>

<script type="text/javascript" src="js/src/modules/user_module/module.js"></script>
<script type="text/javascript" src="js/src/modules/user_module/config/routeConfig.js"></script>
<script type="text/javascript" src="js/src/modules/user_module/controller/userController.js"></script>
<script type="text/javascript" src="js/src/modules/user_module/service/userService.js"></script>

<script type="text/javascript" src="js/src/modules/overwatch_module/module.js"></script>
<script type="text/javascript" src="js/src/modules/overwatch_module/config/routeConfig.js"></script>
<script type="text/javascript" src="js/src/modules/overwatch_module/controller/OverwatchController.js"></script>
<script type="text/javascript" src="js/src/modules/overwatch_module/controller/OverwatchUserScoreController.js"></script>
<script type="text/javascript" src="js/src/modules/overwatch_module/service/overwatchService.js"></script>
</body>
</html>