@import "../base/colors";

#demoUploadOverlay {
    position: fixed;
    bottom: 20px;
    left: 20px;

    width: 660px;

    .container {
        background: $default-bg-color;
        border-color: $default-border-color;
        opacity: 0.95;
        padding: 15px;
        width: inherit !important;
    }
}