@import "colors";

.app-loading {
    background: url('/static/img/loading.gif');
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    height: 32px;
    width: 32px;
}

.new-overwatch-container {

    .header-form-group {
        float: left;
        padding: 10px 0 0 12px;

        &:first-of-type {
            padding: 10px 0 0 0;
        }

        label {
            font-weight: normal;
        }
    }
    .header-form-btn-group {
        float: left;
        padding: 5px 0 0 15px;
    }
}

.verdict_list_container {

    .glyphicon-ok {
        color: $icon-verdict-true-color;
    }
    .glyphicon-remove {
        color: $icon-verdict-false-color;
    }
}