@import "colors";

* {
    color: $font-color;
}

#main-wrapper {
    max-width: 1500px !important;
}

.new-overwatch-container {

    .header-form-group {
        float: left;
        padding: 10px 0 0 12px;

        &:first-of-type {
            padding: 10px 0 0 0;
        }

        label {
            font-weight: normal;
        }
    }
    .header-form-btn-group {
        float: left;
        padding: 5px 0 0 15px;
    }
}

.verdict_list_container {

    .glyphicon-ok {
        color: $icon-verdict-true-color;
    }
    .glyphicon-remove {
        color: $icon-verdict-false-color;
    }
}