@import "colors";

* {
    color: $font-color;
}

#main-wrapper {
    max-width: 1600px !important;
}

.overwatch_container {
    .new-overwatch-container {
        .header-form-group {
            float: left;
            padding: 10px 0 0 15px;

            label {
                font-weight: normal;
            }
        }
    }

    .overwatch_list_container {
        .overwatch_list_container {
        }
    }
}