@import "colors";

.scoreboard-container {
    .table-has-more {
        height: 5px;

        td {
            padding: 0;
            margin: 0;
        }
        .has-more-link {
            display: inline-block;
            width: 100%;
        }
    }
}