$modal-bg: #12181e;
$modal-header-bg: #1c2936;

$modal-header-font-color: #8cb1d5;
$modal-font-color: #87add1;
$modal-button-font-color: #ccd8cf;

#verdict-dialog {
    .modal-content {
        background: $modal-bg;
        font-family: "Titillium Web", sans-serif;
        font-weight: 300;
        letter-spacing: 0.5px;

        .modal-header {
            background: $modal-header-bg;
            border-bottom: 0;
            color: $modal-header-font-color;
            height: 35px;
            padding: 5px 5px 0 30px;
        }
        .modal-body label {
            color: $modal-font-color;
        }
        .modal-footer {
            border-top: 0;
        }

        .btn-verdict {
            border: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;

            color: $modal-button-font-color;
            font-size: 18px;
            letter-spacing: 1px;

            height: 40px;
            width: 240px;
        }

        .btn-verdict-submit {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d817a+0,235c43+100 */
            background: #3d817a; /* Old browsers */
            background: -moz-linear-gradient(top, #3d817a 0%, #235c43 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #3d817a 0%, #235c43 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #3d817a 0%, #235c43 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d817a', endColorstr='#235c43', GradientType=0); /* IE6-9 */

            float: left;
        }

        .btn-verdict-cancel {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#486a94+0,2f445f+100 */
            background: #486a94; /* Old browsers */
            background: -moz-linear-gradient(top, #486a94 0%, #2f445f 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #486a94 0%, #2f445f 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #486a94 0%, #2f445f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#486a94', endColorstr='#2f445f', GradientType=0); /* IE6-9 */

            float: right;
        }
    }
}