# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:

services:
    memcache:
        class: Memcache
        calls:
            - [ addServers, [ "%memcache.servers%" ]]
    session.memcache:
        class: Memcache
        arguments:
            persistent_id: "%session_memcache_prefix%"
        calls:
            - [ addServer, [ "%session_memcache_host%", "%session_memcache_port%" ]]
    session.handler.memcache:
        class: Symfony\Component\HttpFoundation\Session\Storage\Handler\MemcacheSessionHandler
        arguments: ["@session.memcache", { prefix: "%session_memcache_prefix%", expiretime: "%session_memcache_expire%" }]

    app.exception_listener:
        class: AppBundle\Exception\ApiExceptionListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception }

    app.base_service:
        class: AppBundle\Service\BaseService
        abstract: true
        calls:
            - [setContainer, ["@service_container"]]
    app.cache_service:
        class: AppBundle\Service\CacheService
        parent: app.base_service

    user.user_service:
        class: UserBundle\Service\UserService
        parent: app.base_service

    overwatch.overwatch_service:
        class: OverwatchBundle\Service\OverwatchService
        parent: app.base_service
    overwatch.user_score_service:
        class: OverwatchBundle\Service\UserScoreService
        parent: app.base_service

    feedback.feedback_service:
        class: FeedbackBundle\Service\FeedbackService
        parent: app.base_service

    demo.demo_service:
        class: DemoBundle\Service\DemoService
        parent: app.base_service