# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:

services:
    app.exception_listener:
        class: AppBundle\Exception\ApiExceptionListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception }

    app.base_service:
        class: AppBundle\Service\BaseService
        abstract: true
        calls:
            - [setContainer, ["@service_container"]]

    user.user_service:
        class: UserBundle\Service\UserService
        parent: app.base_service

    overwatch.overwatch_service:
        class: OverwatchBundle\Service\OverwatchService
        parent: app.base_service
    overwatch.overwatch_user_score_service:
        class: OverwatchBundle\Service\OverwatchUserScoreService
        parent: app.base_service