<div class="scoreboard-container">

    <div class="row">
        <div class="col-xs-6">
            <h1>Scoreboard</h1>
        </div>
        <div class="col-xs-6"
             style="margin-top:25px">
            filter:
            <select data-ng-model="period"
                    (change)="updatePeriod()">
                <option *ngFor="let period of periods">
                    {{period.name}}
                </option>
            </select>
        </div>
    </div>

    <div *ngIf="!restFinished()"
         class="app-loading">
    </div>

    <div *ngIf="restFinished()"
         class="row">
        <div class="col-sm-8 scores_list_container">

            <table class="table table-condensed table-bordered table-hover">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Verdicts</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let score of scoreboard.higher.scores">
                    <td>{{score.username}}</td>
                    <td>{{score.score}}</td>
                </tr>
                <tr class="score-list-user-score">
                    <td>{{currentUser.username}}</td>
                    <td>{{scoreboard.self.score}}</td>
                </tr>
                <tr *ngFor="let score of scoreboard.lower.scores">
                    <td>{{score.username}}</td>
                    <td>{{score.score}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>