<div class="login-container row">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Login</h2>
        </div>

        <form (ngSubmit)="login()">
            <div class="panel-body">
                <div class="small-form">

                <span *ngIf="loginError"
                      class="error">{{loginError}}</span>

                    <div class="form-group">
                        <label for="loginUsername"
                               class="control-label">Username or e-mail:</label>
                        <input type="text"
                               id="loginUsername"
                               name="username"
                               placeholder="Username or email"
                               class="form-control"
                               [(ngModel)]="user.username"
                               required="true"/>
                    </div>

                    <div class="form-group">
                        <label for="loginPassword"
                               class="control-label">
                            Password:
                        </label>
                        <input type="password"
                               id="loginPassword"
                               name="password"
                               placeholder="********"
                               class="form-control"
                               [(ngModel)]="user.password"
                               required="true"/>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="btn-group">
                    <button type="submit"
                            (click)="login()"
                            class="btn btn-primary">
                        Login
                    </button>
                    <button type="button"
                            (click)="goToRegistration()"
                            class="btn btn-default">
                        Go to registration
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
