<div class="register-container row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Register</h2>
        </div>

        <form (ngSubmit)="register()">
            <div class="panel-body">
                <div class="small-form">

            <span *ngIf="formErrors.identity"
                  class="help-block">{{formErrors.identity}}</span>

                    <div class="form-group">
                        <label for="registerUsername"
                               class="control-label">Username:</label>
                        <input type="text"
                               id="registerUsername"
                               name="username"
                               placeholder="Choose a username"
                               class="form-control"
                               [(ngModel)]="user.username"/>
                <span class="error"
                      *ngIf="formErrors.username">{{formErrors.username}}</span>
                    </div>

                    <div class="form-group">
                        <label for="registerEmail"
                               class="control-label">Email:</label>
                        <input type="email"
                               id="registerEmail"
                               name="email"
                               placeholder="Your email"
                               class="form-control"
                               [(ngModel)]="user.email"/>
            <span class="error"
                  *ngIf="formErrors.email">{{formErrors.email}}</span>
                    </div>

                    <div class="form-group">
                        <label for="registerPassword"
                               class="control-label">Password:</label>
                        <input type="password"
                               id="registerPassword"
                               name="password"
                               placeholder="********"
                               class="form-control"
                               [(ngModel)]="user.password"/>
                <span class="error"
                      *ngIf="formErrors.password">{{formErrors.password}}</span>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="btn-group">
                    <button type="submit"
                            (click)="register()"
                            class="btn btn-primary">
                        Register
                    </button>
                    <button type="button"
                            (click)="goToLogin()"
                            class="btn btn-default">
                        Go to login
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>