<button class="btn glyphicon glyphicon-cog"
        (click)="showDialog()">
</button>

<div *ngIf="user != nulL"
     class="modal fade"
     id="usersettings-dialog"
     role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Profile settings</h4>
            </div>

            <div class="modal-body">
                <form role="form"
                      class="form-horizontal">

                    <div class="form-group">
                        <label for="username"
                               class="control-label col-xs-3">Username:</label>
                        <div class="col-xs-8">
                            <input id="username"
                                   type="text"
                                   class="form-control"
                                   [disabled]="true"
                                   [(ngModel)]="user.username"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email"
                               class="control-label col-xs-3">Email:</label>
                        <div class="col-xs-8">
                            <input id="email"
                                   type="email"
                                   class="form-control"
                                   [(ngModel)]="user.email"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="follow-steam-id-0"
                               class="control-label col-xs-3">Follow Steam IDs:</label>
                        <div class="col-xs-8">
                            <div class="row"
                                 *ngFor="let steamId of user.userSettings.followSteamIds; let i = index">
                                <div class="col-xs-10">
                                    <input type="text"
                                           id="follow-steam-id-{{i}}"
                                           class="form-control"
                                           [(ngModel)]="user.userSettings.followSteamIds[i]">
                                </div>
                                <div *ngIf="i == 0"
                                     class="col-xs-2">
                                    <button type="button"
                                            class="btn glyphicon glyphicon-plus"
                                            (click)="addSteamId()"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <div class="form-group control-group">
                    <button type="submit"
                            class="btn btn-modal btn-modal-primary"
                            (click)="save()">
                        Save
                    </button>
                    <button type="button"
                            class="btn btn-modal btn-modal-default"
                            (click)="resetDialog()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>