$background-color: #FAFAFA;

$bright-font-color: #f2f2f2;
$content-font-color: #97c0e6;
$label-font-color: #878787;

$icon-verdict-true-color: #e0211a;
$icon-verdict-false-color: #5dd13a;

$top-nav-btn-bg: #292d26;

$default-bg-color: #27292b;
$default-border-color: darken($default-bg-color, 12%);