@import "colors";
@import "mixins";

* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}

body {
    background: url('/static/img/page-bg.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: $bright-font-color;
}

#app-loading {
    background: url('/static/img/app-loading.gif') top left no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 32px;
    width: 32px;
    z-index: 999;
}

.alert-danger {
    background: #f4e906;

    h3 {
        color: $default-bg-color;
        margin: 0;
    }
}

table.table-generic {
    border: 0;
    width: auto !important;

    tr th {
        font-weight: 600;
    }
    tr td, tr th {
        border: 0;
        border-right: 1px solid $default-border-color;
        border-bottom: 1px solid $default-border-color;

        &:first-child {
            margin-left: 20px;
            text-align: right;
            padding-right: 10px;
        }
        &:last-child {
            border-right: 0;
        }
    }
}

.table-numeric {
    tr td {
        text-align: right;
    }
}

.user-input {
    overflow: visible;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.transparent {
    opacity: 0;
}

#main-wrapper {
    margin: 15px auto auto;
    max-width: 1500px !important;

    #top-nav {
        background: $top-nav-btn-bg;
        height: 35px;
    }

    .btn {
        background: $top-nav-btn-bg;
        color: $bright-font-color;
        margin: 0;

        &:active, &:hover, &.active {
            @include linearGradient(#45648c, #354f75);
        }

        &.glyphicon {
            top: 0;
        }
    }
    .btn-home {
        width: 50px;
    }
    .btn-logout {
        &:active, &:hover, &.active {
            @include linearGradient(#8c0a00, #750a00);
        }
    }

    #page-body {
        color: $content-font-color;
        padding-top: 45px;

        .btn {
            background: lighten($default-bg-color, 5%);
            &:hover {
                background: lighten($default-bg-color, 2%);
            }
        }
        .btn-primary {
            min-width: 100px;
            @include linearGradient(#3d817a, #235c43);

            &:hover {
                @include linearGradient(darken(#3d817a, 3%), darken(#235c43, 3%));
            }
        }

        .panel {
            opacity: 0.9;
            max-height: 80vh;
            overflow-y: scroll;

            &.panel, .panel-heading, .panel-footer {
                background: darken($default-bg-color, 5%);
                border-color: $default-border-color;
            }

            .panel-heading h2 {
                color: $bright-font-color;
                font-weight: 600;
                margin: 0;

                small {
                    color: $label-font-color;
                    padding-left: 10px;
                }
            }
        }
    }
}