<app-loading></app-loading>

<div id="main-wrapper"
     class="container-fluid full-height">

    <div id="top-nav">
        <div class="row">
            <div *ngIf="isLoggedIn()">
                <div class="col-xs-8">
                    <button class="btn glyphicon glyphicon-home"
                            [class.active]="router.isRouteActive(router.generate(['Dashboard']))"
                            [routerLink]="['Dashboard']">
                    </button>
                    <button class="btn btn-default"
                            [class.active]="router.isRouteActive(router.generate(['Scoreboard']))"
                            [routerLink]="['Scoreboard']">
                        Scoreboard
                    </button>
                </div>
                <div class="col-xs-4 pull-right">
                    <verdict-dialog></verdict-dialog>

                    <feedback-dialog></feedback-dialog>

                    <button class="btn btn-logout glyphicon glyphicon-off"
                            (click)="logout()">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"></div>
        <div id="page-body"
             class="col-xs-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<flash-messages></flash-messages>