<div id="main-wrapper"
     class="container-fluid full-height">


    <div class="row">
        <div class="visible-lg-block col-lg-2">
            <a [routerLink]="['Dashboard']">index</a>
            <a [routerLink]="['Scoreboard']">scoreboard</a>
            <a (click)="logout()">logout</a>
        </div>

        <div class="hidden-sm hidden-xs col-md-12 col-lg-10">
            <div class="row">
                <verdict-bar></verdict-bar>
            </div>
        </div>
    </div>

    <div *ngIf="currentUser != null"
         class="row">
        Hi, {{currentUser.username}}
    </div>

    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>