<div class="overwatch_container">

    <h3>New Overwatch Case</h3>
    <div class="overwatch_add_container">
        <form role="form"
              data-ng-submit="submitOverwatch()">
            <div class="form-group">
                <label for="ov_map"
                       class="control-label">Map:</label>
                <input type="text"
                       id="ov_map"
                       data-ng-model="newOverwatch.map"/>
            </div>
            <div class="form-group">
                <label for="ov_aim">Aim assist:</label>
                <input type="checkbox"
                       id="ov_aim"
                       data-ng-model="newOverwatch.aim"/>
            </div>
            <div class="form-group">
                <label for="ov_visual">Visual assist:</label>
                <input type="checkbox"
                       id="ov_visual"
                       data-ng-model="newOverwatch.visual"/>
            </div>
            <div class="form-group">
                <label for="ov_other">Other assist:</label>
                <input type="checkbox"
                       id="ov_other"
                       data-ng-model="newOverwatch.other"/>
            </div>
            <div class="form-group">
                <label for="ov_griefing">Griefing:</label>
                <input type="checkbox"
                       id="ov_griefing"
                       data-ng-model="newOverwatch.griefing"/>
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <h2>Your Overwatches</h2>
    <div class="overwatch_list_container">
        <div class="overwatch_line">
            <ul>
                <li data-ng-repeat="(key, value) in overwatches">{{value.map}}</li>
            </ul>
        </div>
    </div>
</div>