<div class="row overwatch_container">

    <div class="new-overwatch-container col-md-12">
        <form role="form"
              data-ng-submit="submitOverwatch()">

            <div class="header-form-group">
                <strong>New Overwatch Case</strong>
            </div>

            <div class="header-form-group">
                <label for="ov_map"
                       class="control-label">Map:</label>
                <select id="ov_map"
                        data-ng-model="newOverwatch.map"
                        data-ng-options="map.name for map in mapPool track by map.id">
                </select>
            </div>

            <div class="header-form-group">
                <label for="ov_aim">Aim assist:</label>
                <input type="checkbox"
                       id="ov_aim"
                       data-ng-model="newOverwatch.aim"/>
            </div>

            <div class="header-form-group">
                <label for="ov_visual">Visual assist:</label>
                <input type="checkbox"
                       id="ov_visual"
                       data-ng-model="newOverwatch.visual"/>
            </div>

            <div class="header-form-group">
                <label for="ov_other">Other assist:</label>
                <input type="checkbox"
                       id="ov_other"
                       data-ng-model="newOverwatch.other"/>
            </div>

            <div class="header-form-group">
                <label for="ov_griefing">Griefing:</label>
                <input type="checkbox"
                       id="ov_griefing"
                       data-ng-model="newOverwatch.griefing"/>
            </div>

            <div class="header-form-group">
                <button type="submit"
                        class="btn btn-success">Submit
                </button>
            </div>

        </form>
    </div>

    <div class="row overwatch_list_container">
        <div class="col-sm-12">
            <h2>Your Overwatch verdicts</h2>

            <table class="table table-hover">
                <thead>
                <th>#</th>
                <th>Map</th>
                <th>Aim assist</th>
                <th>Visual assist</th>
                <th>Other assist</th>
                <th>Griefing</th>
                </thead>

                <tbody>
                <tr data-ng-repeat="(key, value) in overwatches">
                    <td></td>
                    <td>{{value.map}}</td>
                    <td>{{value.aimAssist}}</td>
                    <td>{{value.visionAssist}}</td>
                    <td>{{value.otherAssist}}</td>
                    <td>{{value.griefing}}</td>
                </tr>
                </tbody>
            </table>

            <div class="row overwatch_line"
                 data-ng-repeat="(key, value) in overwatches">
                <div class="col-sm-2"></div>
                </ul>
            </div>
        </div>
    </div>
</div>