<div class="scoreboard-container">

    <h1>Scores</h1>

    <div class="row">
        <div class="col-sm-8 scores_list_container"
             data-ng-if="restFinished()">

            <table class="table table-condensed table-bordered table-hover">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Verdicts</th>
                </tr>
                </thead>

                <tbody>
                <tr data-ng-repeat="(key, score) in scoresHigh.scores | orderBy:score.verdict">
                    <td>{{score.username}}</td>
                    <td>{{score.score}}</td>
                </tr>
                <tr class="score-list-user-score">
                    <td>{{user.username}}</td>
                    <td>{{myScore.score}}</td>
                </tr>
                <tr data-ng-repeat="(key, score) in scoresLow.scores | orderBy:score.verdict">
                    <td>{{score.username}}</td>
                    <td>{{score.score}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-offset-6 col-sm-6"
             data-ng-if="!restFinished()">
            loading...
        </div>
    </div>
</div>