<h1>Scores</h1>

<div class="row">
    <div class="col-sm-8 scores_list_container">
        <table class="table table-condensed table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center">User</th>
                <th class="text-center">Verdicts</th>
            </tr>
            </thead>

            <tbody>
            <tr data-ng-repeat="(key, score) in scoresHigh.scores | orderBy:score.verdict">
                <td>{{score.username}}</td>
                <td>{{score.score}}</td>
            </tr>
            <tr>
                <td>{{user.username}}</td>
                <td>{{myScore.score}}</td>
            </tr>
            <tr data-ng-repeat="(key, score) in scoresLow.scores | orderBy:score.verdict">
                <td>{{score.username}}</td>
                <td>{{score.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>