<div class="loginController row">

    <h1>Login</h1>
    <form role="form"
          data-ng-submit="login()">

        <div class="form-group">
            <label for="loginEmail"
                   class="control-label">Username:</label>
            <input type="email"
                   id="loginEmail"
                   name="email"
                   class="form-control"
                   data-ng-model="loginUser.email"
                   data-ng-required="true"/>
        </div>
        <div class="row">
            <label for="loginPassword"
                   class="control-label">
                Password:
            </label>
            <input type="password"
                   id="loginPassword"
                   name="password"
                   class="form-control"
                   data-ng-model="loginUser.password"
                   data-ng-required="true"/>
        </div>
        <div class="form-group">
            <button type="submit"
                    class="btn btn-success">
                Login
            </button>
        </div>
        <div class="form-group">
            <button type="button"
                    class="btn btn-success">
                <a ui-sref="register">Go to registration</a>
            </button>
        </div>
    </form>

</div>