<h1>Feedback</h1>

<table *ngIf="restFinished"
       class="table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Username</th>
        <th>Like</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let feedback of feedback.items">
        <td>
            {{feedback.createdTimestamp}}
        </td>
        <td>
            {{feedback.createdBy.username}}
        </td>
        <td>
            <span *ngIf="feedback.feedback.like"
                  class="glyphicon glyphicon-ok"></span>
            <span *ngIf="!feedback.feedback.like"
                  class="glyphicon glyphicon-remove"></span>
        </td>
        <td>
            {{feedback.feedback.freetext}}
        </td>
    </tr>
    </tbody>
</table>